@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');

:root{
  --font-color: #1d3557;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  background-image: url(images/bg-image9.jpg);
  background-size: cover;
  background-position: center;
  color: var(--font-color);
}

#container {
  max-width: 55vw;
  min-height: 100vh;
  padding: 0px 40px;
  /* background-color: rgba(0, 0, 0, 0.7); */
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  color: #8ecae6;
  font-size: 15px;
  width: 100%;
  margin: auto;
}
.header-menu .active{
  background-color: #d62828;
  color: white;
  border-radius: 0px 0px 10px 10px;
}

.header-menu a{
  display: inline-block;
  line-height: 70px;
  text-decoration: none;
  color: var(--font-color);
  font-weight: bolder;
  padding: 0px 10px;
}

.header-menu a:hover {
  text-decoration: underline;
}
.header-socialmedia{
  margin-left: 100px;
}

.header-socialmedia img {
  width: 25px;
  border-radius: 10px;
  margin: 0px 10px;
}

#person-name{
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: 'comforter';
}

.content-container{
  width: 70%;
  margin: auto;
  /* box-shadow: 0px 0px 10px rgb(153, 153, 153); */
  /* background-image: linear-gradient(transparent 50%, rgb(204, 204, 204) ); */
  padding: 30px 10px;
}

.person-container{
  width: 70%;
  padding: 15px 10px;
  box-shadow: 10px 10px 10px rgb(209, 209, 209);
  border-radius: 20px;
}
.person-area{
  max-width: 100%;
  text-align: center;
}
.person-title{
  font-size: 25px;
  text-align: center;
  color: var(--font-color);
}

.person-subtitle{
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 20px;
}

.person-content {
  text-align: justify;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.person-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url(images/1642252406803.jpeg);
  background-position: center;
  background-size: cover;
  border: 5px solid white;
  margin: 20px auto;  
}

.aboutme{
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
  background-color: #d3003f;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.aboutme:hover{
  background-color:#a70032;

}
