@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/bg-image1.jpg);
  background-size: cover;
  color: white;
}

#container {
  max-width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

header {
  height: 70px;
  color: #8ecae6;
  padding:0px 20px;
  font-size: 15px;
}
.header-container{
  display: flex;
  align-items: center;
  justify-content: end;
}

.header-menu a{
  display: inline-block;
  line-height: 70px;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color: white;
  margin: 0px 10px;
  font-weight: bolder;
  padding: 0px 10px;
}

.header-menu a:hover{
  background-color: #e71d36;
  border-radius: 0px 0px 10px 10px;
  transition: .5s;
}

.header-socialmedia{
  margin-left: 100px;
}

.header-socialmedia img {
  width: 25px;
  border-radius: 10px;
  margin: 0px 10px;
}
