@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: rgb(253, 251, 251);
  width: 100%;
  min-height: 100vh;
}

h2{
  font-size: 18px;
  color: #DAA66E;
  text-decoration: underline;
}
p {
  color: #74614C;
}

#cabecalho{
  position: fixed;
  top: 0;
  width: 100%;
  height: 12%;
  text-align: center;
  color: #FBE3C2;
  background-color: #3E8781;
  vertical-align: middle;
}
#titulo{
  line-height: 60px;
}
nav a{
  text-decoration: none;
  color: white;
  font-size: 12px;
}
nav a:hover{
  font-weight: bolder;
}
nav li{
  display: inline-block;
  margin: 0px 20px;
}
main{
  margin-top: 70px;
  width: 100%;
  padding: 40px;
  text-align: center;
}
#section-img{
  text-align: center;
}
#section-img p{
  margin: 15px 0px;
  color: #74614C;
}
#minha_foto{
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: auto;
  object-fit: cover;
  border: 3px solid #74614C;
}
#section-tarefas{
  /* background-color: gray; */
  text-align: center;
}
#section-tarefas div{
  padding: 10px 30px;
  display: inline-block;
  width: 30%;
  box-shadow: 0px 0px 2px #DAA66E;
  margin: 0px 20px;
  border-radius: 10px;
  /* background-color: red; */
}
#licoes_aprendidas{
  text-align: left;
  margin: 20px 0px;
  color: #74614C;
}
#licoes_a_aprender{
  text-align: left;
  margin: 20px 0px;
  color: #74614C;
}
#conhecer-trybe{
  display: inline-block;
  margin: 20px 0px;
  text-decoration: none;
  padding: 15px 25px;
  background-color: #3E8781;
  color: white;
  border-radius: 15px;
  font-weight: bolder;
}
#conhecer-trybe:hover{
  background-color: #224f4b;
}
aside{
  width: 50%;
  margin: auto;
  text-align: justify;
  border-bottom: 1px solid #3E8781;
  padding: 20px 0px;
}
aside span{
  color: #3E8781;
  font-weight: bolder;
}
aside h3, #aprender-trybe h3{
  text-align: center;
  margin-bottom: 10px;
}

#aprender-trybe{
  width: 50%;
  margin: auto;
  text-align: justify;
  padding: 20px 0px;
}
footer{
  text-align: center;
  padding: 20px 0px;
  width: 60%;
  background-color: #FBE3C2;
  margin: auto;
  border-radius: 15px 15px 0px 0px;
}
